#title{
  background-color: #ff4c68;
  color: white;
}
#features{
  background-color: white;
  position: relative;
}
body{
  font-family: "Montserrat";
  font-weight: 500;

}
h3{
  font-weight: 800;
  font-size: 1.5rem;
  color: #343a40;
}

/* Title Section */

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}
.navbar.navbar-expand-lg.navbar-dark{
  padding-left: 0;
}
.main-text{
  font-size: 3.2rem;
  line-height: 1.5;
  font-family: "Montserrat";
  padding: 12% 0 5%;
  margin-bottom: 6%;
  font-weight: 800;
}
.title-box{
  padding-right: 0;

}
.nav-link{
  margin: 0 1.5rem;
  font-weight: 400;
}
.container-fluid{
   padding: 3% 15%;
}
.img{
  transform: rotate(25deg);
  width: 60%;
  margin-top: 15%;
  position: absolute;
  left: 100px;
}
.download-button{
  margin-right: .5rem;
  margin-bottom: 5rem;
}
.mid-sec-icons{
  margin-bottom: 1rem;
  color: #ef8172;
}
.mid-sec-icons:hover{
  color: #ff4c68;
}

.mid-sec-pad{
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.features{
  text-align: center;
  font-size: 16px;
  color: #8f8f8f;
}

.box-2{
  padding: 2rem 3rem;
}
.box-3{
padding: 2rem 1.5rem;
}
#testimonials{
  background-color: #ff4c68;
  text-align: center;

}
.carousel-inner{
  color: white;
  padding: 7% 15%;

}
.test-img{
  border-radius: 100%;
  width: 5rem;
  margin-right: 1%;
  margin-bottom: 5%;
}
.testimonial-text{
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 3rem;
  padding-top: 5%;
  color: white;
  margin: 2% 5%;
  height: 20rem;
}

#press{
  background-color: #ff4c68;
  text-align: center;
  padding: 3% 15%;

}
.press-img{
  width: 20%;
  margin: 2% 2%;
}
.name{
  position: relative;
  bottom: 20px;
}

#pricing{
  padding: 100px;
  text-align: center;

}
.card-box{
  padding: 5% 2% 1%;
}

#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 5% 15% 3%;
}
.last-btn{
  margin-bottom: 0;
  margin-top: 25px;
  margin-right: 3%;
}
#footer{
  text-align: center;
  padding: 5% 15% 2%;
  color: #808080;
  font-size: .8rem;
}
.footer-link{
  text-decoration: none;
  color: #2F4F4F;
  padding: 0 1.2%;
  margin-bottom: 20px;
}
.footer-link:hover{
  color: #ff4c68;
}
.copyright{
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 2%;
}
.last-line{
  font-family: "Montserrat";
  font-weight: 900;
  color: white;
  font-size: 3rem;
  padding: 3% 0 2%;

}
@media (max-width: 1023px)  {
  .img{
    transform: rotate(0);
    position: static;
    width: 40%;
    padding-bottom: 60px;

  }
  #title{
    text-align: center;
  }



}
